@model Site
<div class="form-group">
    <label asp-for="Name"></label>
    <input type="text" class="form-control" asp-for="Name">
</div>
<div class="form-group">
    <label asp-for="Uri"></label>
    <input type="url" class="form-control" asp-for="Uri">
</div>
<div class="form-group">
    <label asp-for="Rank"></label>
    <input type="number" class="form-control" asp-for="Rank">
</div>
